<% include ../public/partials/header %>

<div id='main-logo' class='logo'>
  Bootlet
</div>
<div class='form enabled' id='main'>
  <div class='form-button' data-target='join-game'>Join Game</div>
  <div class='form-button' data-target='create-game'>Create Game</div>
</div>
<div class='form' id='join-game'>
  Join Code:
  <br>
  <input type='text' maxlength='6' spellcheck='false' class='form-input' id='game-code'>
  <div class='form-button' id='enter-game'>Enter</div>
  <div class='form-button' data-target='main'>Back</div>
</div>
<div class='form' id='create-game'>
  Study Set Code:
  <br>
  <input type='text' maxlength='6' spellcheck='false' class='form-input' id='study-code'>
  <div class='form-button' id='enter-create-game'>Enter</div>
  <a href='/create'><div class='form-button'>New Study Set</div></a>
  <div class='form-button' data-target='main'>Back</div>
</div>

<script src='/js/index.js'></script>

<% include ../public/partials/footer %>
