<% include ../public/partials/header %>

<div id='main-logo' class='logo'>
  Bootlet
</div>
<div class='form'>
  <div class='form-button'>Join Game</div>
  <div class='form-button'>Create Game</div>
</div>

<% include ../public/partials/footer %>
