<% include ../public/partials/header %>

<div class='gamepanel active' id='choose-username'>
  Choose a Username:
  <br>
  <input type='text' maxlength='20' spellcheck='false' class='form-input' id='username'>
  <div class='form-button' id='set-username'>Continue</div>
</div>

<div class='gamepanel' id='lobby'>
  <div class='panel-heading'>Current Players</div>
  <div id='playerlist'></div>
  <br>
  <div class='form-button' id='vote-ready'>Ready</div>
</div>

<div class='gamepanel' id='join-fail'>
  Failed to join. Room may be full.
  <a href='/'><div class='form-button'>Back</div></a>
</div>

<% if(locals.params){ %>
  <script>
    var params = <%- JSON.stringify(params) %>;
  </script>
<% } %>

<script src='https://cdn.socket.io/socket.io-1.4.5.js'></script>
<script src='/js/room.js'></script>

<% include ../public/partials/footer %>
