<% include ../public/partials/header %>

<div class='gamepanel active' id='choose-username'>
  Choose a Username:
  <br>
  <input type='text' maxlength='20' spellcheck='false' class='form-input' id='username'>
  <div class='form-button' id='set-username'>Continue</div>
</div>

<div class='gamepanel' id='join-fail'>
  Failed to join. Room may be full.
</div>

<% if(locals.params){ %>
  <script>
    var params = <%- JSON.stringify(params) %>;
  </script>
<% } %>

<% include ../public/partials/footer %>
