<% include ../public/partials/header %>

<div class='gamepanel active' id='choose-username'>
  <div class='info'>Choose a Username:</div>
  <br>
  <input type='text' maxlength='20' spellcheck='false' class='form-input' id='username'>
  <div class='form-button' id='set-username'>Continue</div>
</div>

<div class='gamepanel' id='lobby'>
  <div class='panel-heading' id='join-code'></div>
  <div class='info' id='room-name'></div>
  <div class='info' id='current-players-text'>Current Players</div>
  <div id='playerlist'></div>
  <br>
  <div class='form-button' id='vote-ready'>Ready</div>
  <br>
  <div class='info'>
    Needs at least 2 players and all players must be ready to begin
  </div>
</div>

<div class='gamepanel' id='game'>
  <div class='score'>
    <div class='info'>Your Score:</div>
    <div id='score'>0</div>
  </div>
  <br>
  <div class='game-phase' id='phase0'>
    <div id='question0'></div>
    <div id='timer0'></div>
  </div>
  <div class='game-phase' id='phase1'>
    <div id='question1'></div>
    <div id='answers1'></div>
    <div id='timer1'></div>
  </div>
  <div class='game-phase' id='phase2'>
    <div id='question2'></div>
    <div id='result2'></div>
    <div id='desc2'></div>
  </div>
</div>

<div class='gamepanel' id='final-results'>
  <div id='results-fill-area'></div>
  <a href='/'><div class='form-button'>Go Home</div></a>
</div>

<div class='gamepanel' id='join-fail'>
  Failed to join.
  <br>
  Room is full or game has already started.
  <a href='/'><div class='form-button'>Back</div></a>
</div>

<% if(locals.params){ %>
  <script>
    var params = <%- JSON.stringify(params) %>;
  </script>
<% } %>

<script src='https://cdn.socket.io/socket.io-1.4.5.js'></script>
<script src='/js/room.js'></script>

<% include ../public/partials/footer %>
