<html>

  <head>
    <link rel='stylesheet' href='/css/shared.css'>
    <link rel='stylesheet' type='text/css' href='/css/<%= nav %>.css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Rye" rel="stylesheet">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      <%= (title) ? title+' - ' : '' %>
      Bootlet <% if(!title){ %> - What now <% } %>
    </title>
    <script> </script>
  </head>

  <body>
